<html>
<head>
<title>Nodium Connections - Overview</title>
<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:100,200,300,400|Open+Sans:100,200,300,400|Roboto:100,200,300,400,500,1000|Lato:100,200,300,400|Tauri|Raleway|Arimo|Oswald:100,200,300,400' rel='stylesheet' type='text/css'>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/page.js"></script>
<style>
</style>
</head>
<body>
<div id="topbar">
    <div id="logo">
        <img src="img/logo.png"/>
    </div><div id="menu">
        <ul class="nav navbar-nav navbar-left">
            <li><a href="#">Home</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Stock</a></li>
            <li><a href="#">Customers</a></li>
            <li><a href="#">Users</a></li>
        </ul><ul class="nav navbar-nav navbar-right">
            <li id="search">
                <form class="navbar-form navbar-left" role="search" action="#search" method="post">
                    <select class="form-control">
                        <option value="customer">Search Customers</option>
                        <option value="jobs">Search Jobs</option>
                        <option value="vehicles">Search Vehicles</option>
                        <option value="users">Search Users</option>
                    </select>
                    <input type="text" class="form-control" placeholder="Search for...">
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </form>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Edit profile</a></li>
                <li><a href="#">Logout</a></li>
              </ul>
            </li>
          </ul>
    </div>
</div>
<div id="pagename">Appointments</div>
<div id="main">
    
    <div id="app_new_form">
        <h3>Create new appointment</h3>
        <div class="form-group"><label for="customerIn">Customers</label><input type="email" class="form-control" id="customerIn" placeholder="Start typing to search for customers..."></div>
        <div class="form-group"><label for="customerIn">Customers</label><input type="email" class="form-control" id="customerIn" placeholder="Start typing to search for customers..."></div>
        
    </div>
    
    <h2>All appointments</h2>
    <div id="listoptions">
        <div id="create"><a class="btn btn-primary btn-block">Create new appointment</a></div>
        <form action="#change_view" method="post">
            <select class="form-control" name="sortoption">
                <option value="customer_az">Customer Name - Ascending (A-Z)</option>
                <option value="customer_za">Customer Name - Descending (Z-A)</option>
                <option value="date_az">Date - Ascending (A-Z)</option>
                <option value="date_za">Date - Descending (Z-A)</option>
            </select>
        </form>
    </div>
    <div class="tablelist">
        <table class="table">
            <tr><th>Customer Name</th><th>Date/Time</th><th>Options</th></tr>
            <tr><td>David Smith</td><td>23/04/2016 1:00pm</td><td><a href="#">Job sheet</a> / <a href="#">Edit</a> / <a href="#">Delete</a></td></tr>
            <tr><td>Jack Jones</td><td>15/02/2016 9:30am</td><td><a href="#">Job sheet</a> / <a href="#">Edit</a> / <a href="#">Delete</a></td></tr>
            <tr><td>Fuschia Fedora</td><td>23/04/2016 5:30pm</td><td><a href="#">Job sheet</a> / <a href="#">Edit</a> / <a href="#">Delete</a></td></tr>
            <tr><td>Luke Jackson</td><td>25/07/2016 9:00am</td><td><a href="#">Job sheet</a> / <a href="#">Edit</a> / <a href="#">Delete</a></td></tr>
            <tr><td>Barry Jones</td><td>13/02/2016 3:30pm</td><td><a href="#">Job sheet</a> / <a href="#">Edit</a> / <a href="#">Delete</a></td></tr>
            <tr><td>Lucy Johnson</td><td>11/12/2017 8:30am</td><td><a href="#">Job sheet</a> / <a href="#">Edit</a> / <a href="#">Delete</a></td></tr>
            <tr><td>Luke Barryson</td><td>05/01/2016 8:30am</td><td><a href="#">Job sheet</a> / <a href="#">Edit</a> / <a href="#">Delete</a></td></tr>
            <tr><td>Harry Jones</td><td>18/03/2016 4:30pm</td><td><a href="#">Job sheet</a> / <a href="#">Edit</a> / <a href="#">Delete</a></td></tr>
            <tr><td>Luke Johnson</td><td>01/04/2017 5:30pm</td><td><a href="#">Job sheet</a> / <a href="#">Edit</a> / <a href="#">Delete</a></td></tr>
            <tr><td>Abigail Smith</td><td>01/04/2016 8:00am</td><td><a href="#">Job sheet</a> / <a href="#">Edit</a> / <a href="#">Delete</a></td></tr>
            <tr><td>Jack Ubuntu</td><td>23/04/2016 4:30pm</td><td><a href="#">Job sheet</a> / <a href="#">Edit</a> / <a href="#">Delete</a></td></tr>
        </table>
    </div>
</div>
</body>
</html>