{% extends "nod/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            {#        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>#}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                {#          Data saved successfully #}
                <li class="success">
                    {{ message }}
                </li>
            {% endif %}
            {#        Data not saved. Validation errors#}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <li class="error">
                    <i class="fi-alert"></i> {{ message }} <i class="fi-alert"></i>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <hr/>
{% endif %}

{#<div id="pagename">Customers</div>#}
<div id="main">
    <div id="job_add_form">
        <h3>Create New Part</h3>
        <form action='{% url 'create-part' %}' method="post">
            {% csrf_token %}
            {% crispy form form.helper 'bootstrap3' %}

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <br/>
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}