{% extends "nod/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load django_tables2 %}

{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            {#        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>#}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                {#          Data saved successfully #}
                <li class="success">
                    {{ message }}
                </li>
            {% endif %}
            {#        Data not saved. Validation errors#}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <li class="error">
                    <i class="fi-alert"></i> {{ message }} <i class="fi-alert"></i>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <hr/>
{% endif %}
{#<div id="pagename">Customers</div>#}
<div id="main">
    <div class="row">
        <div class="col-md-1"><h2>Customers</h2></div>
        <div class="col-md-9"><h2></h2></div>
        <div class="col-md-2"><a href="{% url 'create-account-holder' %}" class="btn btn-default">Create New Account Holder</a></div>
    </div>

        <h4>Account Holders</h4>
        {% render_table account_holders_table %}

    <div class="linespace"></div>
    <br/>
    <a href="{% url 'create-business-customer' %}" class="btn btn-default">Create New Business Customer</a>

        <h4>Business Customers</h4>
        {% render_table business_customers_table %}

</div>
{% endblock %}