{% extends "nod/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
    {% block extra_js%}
        <script src="http://malsup.github.com/jquery.form.js"></script>
{#        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>#}
    {% endblock %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            {#        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>#}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                {#          Data saved successfully #}
                <li class="success">
                    {{ message }}
                </li>
            {% endif %}
            {#        Data not saved. Validation errors#}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <li class="error">
                    <i class="fi-alert"></i> {{ message }} <i class="fi-alert"></i>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <hr/>
{% endif %}

<div id="main">
    <div id="job_add_form">
        <h3>Edit Drop In: {{ dropin.forename }} {{ dropin.surname }}</h3>
        <form action='{% url 'edit-dropin' dropin.uuid %}' method="post">
            {% csrf_token %}
            {% crispy form form.helper 'bootstrap3' %}

            <p>Click <a data-toggle="modal" data-target="#modal" href="{% url 'create-vehicle' dropin.uuid %}">here</a> to add a Vehicle</p>
            <div class="modal fade" id="modal"></div>
            <div id="vehicles"></div>

            <h4>Emails</h4>
            {{ email_formset.management_form|crispy }}
            {% for form in email_formset %}
                <div class="email-formset">
                 {% crispy form email_helper 'bootstrap3' %}
                <br/>
                </div>
            {% endfor %}

            <br/>
            <h4>Phone Numbers</h4>
            {{ phone_formset.management_form|crispy }}
            {% for form in phone_formset %}
                <div class="phone-formset">
                 {% crispy form phone_helper 'bootstrap3' %}
                <br/>
                </div>
            {% endfor %}


            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <br/>
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $('#modal').on('show.bs.modal', function (event) {
        var modal = $(this)
        $.ajax({
            url: "{% url 'create-vehicle' dropin.uuid %}",
            context: document.body
        }).done(function(response) {
            modal.html(response);
        });
    });

    $('#modal').on('hidden.bs.modal', function (event) {
      $.getJSON( "{% url 'get-vehicles' dropin.uuid %}", function( data ) {
        var items = [];
        data.forEach(function(val) {
          var id = val.uuid;
          var url_mask = "{% url 'edit-vehicle' dropin.uuid 12345 %}".replace(/12345/, id);
          items.push( "<li> <a target='_blank' href=" + url_mask + ">" + val.make + " " + val.model + " (" + val.reg_number + ") " + "</a></li>");
        });
        document.getElementById("vehicles").innerHTML = "<ul>" + items.join( "" ) + "</ul>";
      });
    });


    $( document ).ready(function() {
      $.getJSON( "{% url 'get-vehicles' dropin.uuid %}", function( data ) {
        var items = [];
        data.forEach(function(val) {
          var id = val.uuid;
          var url_mask = "{% url 'edit-vehicle' dropin.uuid 12345 %}".replace(/12345/, id);
          items.push( "<li> <a target='_blank' href=" + url_mask + ">" + val.make + " " + val.model + " (" + val.reg_number + ") " + "</a></li>");
        });
        document.getElementById("vehicles").innerHTML = "<ul>" + items.join( "" ) + "</ul>";
      });
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"></script>
<script>

    $(".email-formset").formset({
        addText: 'add email',
        deleteText: 'remove',
        prefix: '{{ email_formset.prefix }}',
        formCssClass: 'email-formset',
{#        deleteCssClass: 'task-formset'#}
    });

    $(".phone-formset").formset({
        addText: 'add phone',
        deleteText: 'remove',
        prefix: '{{ phone_formset.prefix }}',
        formCssClass: 'phone-formset',
{#        deleteCssClass: 'part-formset'#}
    });

</script>
{% endblock %}