{% extends "nod/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load django_tables2 %}


{% block content %}

    {% block extra_js%}
        <script src="http://malsup.github.com/jquery.form.js"></script>
{#        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>#}
    {% endblock %}
{% if messages %}
{#    <ul class="messages">#}
        {% for message in messages %}
            {#        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>#}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                {#          Data saved successfully #}
{#                <span class="label label-success">#}
{#                    {{ message }}#}
{#                </span>#}

                <div class="alert alert-dismissible alert-success">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ message }}
                </div>

            {% endif %}
            {#        Data not saved. Validation errors#}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
{#                <li class="error">#}
{#                    <i class="fi-alert"></i> {{ message }} <i class="fi-alert"></i>#}
{#                </li>#}

                <div class="alert alert-dismissible alert-danger">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ message }}
                </div>
            {% endif %}
        {% endfor %}
{#    </ul>#}
{#    <hr/>#}
{% endif %}

{#<div id="pagename">Home</div>#}
<div id="main">
    {% if request.user.first_name %}
        <h2>Hello, {{ request.user.first_name }}!</h2>
    {% else %}
        <h2>Hello!</h2>
    {% endif %}
<br>
<div id="reports">
        <h3 class="text-danger">My Outstanding Jobs</h3>
        {%  render_table my_jobs_table %}
        <br>
        <h3 class="text-danger">Outstanding Payments</h3>
            {% render_table invoices_to_print_table %}
        <br>
        <h3 class="text-danger">MOT Reminders</h3>
            {% render_table mot_reminders_table %}
        <br>
        <h3 class="text-danger">Low Stock</h3>
            {% render_table low_parts %}
</div>
</div>
{% endblock %}