{% extends "nod/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

    {% block extra_js%}
        <script src="http://malsup.github.com/jquery.form.js"></script>
{#        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>#}
    {% endblock %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            {#        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>#}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                {#          Data saved successfully #}
                <li class="success">
                    {{ message }}
                </li>
            {% endif %}
            {#        Data not saved. Validation errors#}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <li class="error">
                    <i class="fi-alert"></i> {{ message }} <i class="fi-alert"></i>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <hr/>
{% endif %}
<div id="pagename">Home</div>
<div id="main">
    <div id="reminders">
        <h2>Outstanding payments</h2>
        <table class="table">
            <tr><th>Customer</th><th>Number of invoice reminders</th><th></th></tr>
            <tr class="danger"><td>Dave Smith</td><td>3</td><td><input type="submit" class="btn btn-danger" value="Generate reminder"/></td></tr>
            <tr class="warning"><td>John Jones</td><td>2</td><td><input type="submit" class="btn btn-warning" value="Generate reminder"/></td></tr>
            <tr class="active"><td>Dave Jackson</td><td>1</td><td><input type="submit" class="btn btn-default" value="Generate reminder"/></td></tr>
        </table>
    </div><div id="alerts">
        <h2>Service reminders</h2>
        <table class="table">
            <tr><th>Customer</th><th>Service type</th></tr>
            <tr class="danger"><td>Dave Jones</td><td>General service</td><td><input type="submit" class="btn btn-danger" value="Generate reminder"/></td></tr>
            <tr class="active"><td>John Smith</td><td>MOT</td><td><input type="submit" class="btn btn-default" value="Generate reminder"/></td></tr>
        </table>
    </div>
</div>
</body>
</html>
{% endblock %}