{% extends "nod/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

    {% block extra_js%}
        <script src="http://malsup.github.com/jquery.form.js"></script>
{#        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>#}
    {% endblock %}
{% if messages %}
{#    <ul class="messages">#}
        {% for message in messages %}
            {#        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>#}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                {#          Data saved successfully #}
{#                <span class="label label-success">#}
{#                    {{ message }}#}
{#                </span>#}

                <div class="alert alert-dismissible alert-success">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ message }}
                </div>

            {% endif %}
            {#        Data not saved. Validation errors#}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
{#                <li class="error">#}
{#                    <i class="fi-alert"></i> {{ message }} <i class="fi-alert"></i>#}
{#                </li>#}

                <div class="alert alert-dismissible alert-danger">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ message }}
                </div>
            {% endif %}
        {% endfor %}
{#    </ul>#}
{#    <hr/>#}
{% endif %}
{#<div id="pagename">Home</div>#}
<div id="main">
{% if request.user.first_name %}
        <h2>Hello, {{ request.user.first_name }}!</h2>
    {% else %}
        <h2>Hello!</h2>
    {% endif %}
    <div id="managedb">
        <form action="#archive_db"><input type="submit" class="btn btn-primary" value="Archive old records"/></form>
        <form action="#backup_db"><input type="submit" class="btn btn-success" value="Backup database"/></form>
        <table class="table">
            <tr><td colspan="3"><h3>Backup history</h3></td></tr>
            <tr class="success"><td>Backup1</td><td>23/02/2016</td><td><a href="#restore1">Restore to this backup</a></td></tr>
            <tr class="success"><td>Backup2</td><td>17/01/2016</td><td><a href="#restore2">Restore to this backup</a></td></tr>
        </table>
    </div>
</div>
</body>
</html>
{% endblock %}