{% extends "nod/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

    {% block extra_js%}
        <script src="http://malsup.github.com/jquery.form.js"></script>
{#        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>#}
    {% endblock %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            {#        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>#}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                {#          Data saved successfully #}
                <li class="success">
                    {{ message }}
                </li>
            {% endif %}
            {#        Data not saved. Validation errors#}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <li class="error">
                    <i class="fi-alert"></i> {{ message }} <i class="fi-alert"></i>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <hr/>
{% endif %}
<div id="pagename">Home</div>
<div id="main">
    <div id="managedb">
        <form action="#archive_db"><input type="submit" class="btn btn-primary" value="Archive old records"/></form>
        <form action="#backup_db"><input type="submit" class="btn btn-success" value="Backup database"/></form>
        <table class="table">
            <tr><td colspan="3"><h3>Backup history</h3></td></tr>
            <tr class="success"><td>Backup1</td><td>23/02/2016</td><td><a href="#restore1">Restore to this backup</a></td></tr>
            <tr class="success"><td>Backup2</td><td>17/01/2016</td><td><a href="#restore2">Restore to this backup</a></td></tr>
        </table>
    </div>
</div>
</body>
</html>
{% endblock %}