{% extends "nod/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

    {% block extra_js%}
        <script src="http://malsup.github.com/jquery.form.js"></script>
{#        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>#}
    {% endblock %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            {#        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>#}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                {#          Data saved successfully #}
                <li class="success">
                    {{ message }}
                </li>
            {% endif %}
            {#        Data not saved. Validation errors#}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <li class="error">
                    <i class="fi-alert"></i> {{ message }} <i class="fi-alert"></i>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <hr/>
{% endif %}

<div id="pagename">Home</div>
<div id="main">
    <div id="reports">
        <h2>Reports</h2>
        <table class="table">
            <tr class="success"><td><a href="/averagepricereport">Average price per job (overall/per given mechanic</a></td></tr>
            <tr class="success"><td><a href="{% url 'spare-parts-report' %}">Spare Parts Report</a></td></tr>
            <tr class="success"><td><a href="#report1">Number of vehicles booked monthly (overall/per service/type of customer)</a></td></tr>
            <tr class="success"><td><a href="#report2">Average time to service vehicle (overall/per service/repairs requested/mechanic</a></td></tr>
            <tr class="success"><td><a href="#report5">Customer response rate for MOT and service reminders</a></td></tr>
        </table>
    </div>
</div>
</body>
</html>
{% endblock %}