{% extends "nod/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load django_tables2 %}


{% block content %}

    {% block extra_js%}
        <script src="http://malsup.github.com/jquery.form.js"></script>
{#        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>#}
    {% endblock %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            {#        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>#}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                {#          Data saved successfully #}
                <li class="success">
                    {{ message }}
                </li>
            {% endif %}
            {#        Data not saved. Validation errors#}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <li class="error">
                    <i class="fi-alert"></i> {{ message }} <i class="fi-alert"></i>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <hr/>
{% endif %}

{#<div id="pagename">Home</div>#}
<div id="main">
    {% if request.user.first_name %}
        <h2>Hello, {{ request.user.first_name }}!</h2>
    {% else %}
        <h2>Hello!</h2>
    {% endif %}
    <div id="reports">
        <h2>Reports</h2>
        <br>
        <table class="table">
            <tr class="success"><td><a href="{% url 'time-report' %}">Time Report</a></td></tr>
            <tr class="success"><td><a href="{% url 'spare-parts-report' %}">Spare Parts Report</a></td></tr>
            <tr class="success"><td><a href="#report1">Vehicle Report</a></td></tr>
            <tr class="success"><td><a href="#report5">Response Rate Report</a></td></tr>
            <tr class="success"><td><a href="/averagepricereport">Price Report</a></td></tr>
        </table>
        <br>

        <h3 class="text-danger">Outstanding Payments</h3>
            {% render_table invoices_to_print_table %}

        <h3 class="text-danger">MOT Reminders</h3>
            {% render_table mot_reminders_table %}

        <h3 class="text-danger">Low Stock</h3>
            {% render_table low_parts %}
    </div>
</div>
{% endblock %}