<html>
<head>
<title>Nodium Connections - Overview</title>
<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:100,200,300,400|Open+Sans:100,200,300,400|Roboto:100,200,300,400,500,1000|Lato:100,200,300,400|Tauri|Raleway|Arimo|Oswald:100,200,300,400' rel='stylesheet' type='text/css'>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/page.js"></script>
<style>
</style>
</head>
<body>
<div id="main">
    <div id="garageaddress">Quick Fix Fitters,<br>19 High St.,<br>Ashford,<br>Kent<br>CT16 8YY<br><br>18th October 2014</div>
        <center>
            <h4><b>Invoice Number: 83745</b></h4>
            <h5>Vehicle Registration No.: DF05 POT</h5><h5>Total: &pound;660.00</h5>
        </center>
        <div class="linespace"></div>
        <pre>According to our records, it appears that we have not yet received payment of the above invoice, which was posted to you on 18th October 2014, for work done on the vehicle(s) listed above.<br>We would appreciate payment at your earliest convenience.<br><br>If you have already sent a payment to us recently, please accept our apologies.<br><br>Yours sincerely,<br>G. Lancaster</pre>
        <br><br>
    </div>
</div>
</body>
</html>