<html>
<head>
<title>Nodium Connections - Login</title>
<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:100,200,300,400|Open+Sans:100,200,300,400|Roboto:100,200,300,400,500,1000|Lato:100,200,300,400|Tauri|Raleway|Arimo|Oswald:100,200,300,400' rel='stylesheet' type='text/css'>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/login.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/page.js"></script>
</head>
<body>
<div id="loginbox">
    <div id="logo"><img src="img/logo.png"/></div>
    <div id="title">Please login to continue</div>
    <form action="#DO_LOGIN_STUFF" method="post">
        <input type="text" class="loginfield" placeholder="Username..."/><br><br>
        <input type="password" class="loginfield" placeholder="Password..."/><br><br>
        <input type="submit" class="btn btn-primary" value="Login"/><br>
    </form>
</div>
</body>
</html>