<html>
<head>
<title>Nodium Connections - Overview</title>
<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:100,200,300,400|Open+Sans:100,200,300,400|Roboto:100,200,300,400,500,1000|Lato:100,200,300,400|Tauri|Raleway|Arimo|Oswald:100,200,300,400' rel='stylesheet' type='text/css'>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/page.js"></script>
<style>
</style>
</head>
<body>
<div id="main">
    <div id="view" style="margin:0px 10%; padding:35px 5%; text-align:left;">
    <div id="garageaddress">Quick Fix Fitters,<br>19 High St.,<br>Ashford,<br>Kent<br>CT16 8YY</div>
        <h3><b>JOB NO.: 83745</b></h3>
        <h5>Vehicle Registration No.: DF05 POT</h5>
        <h5>Date booked in: 18th October 2014</h5>
        <h5>Make/Model: Opel/Vectra Estate</h5>
        <h5>Customer name: Dave Jackson</h5>
        <h5>Telephone: 0208-964-8093</h5>
        <br>
        <div class="linespace"></div>
        <br>
        <h4>Description of work carried out <h5>(Added on completion)</h5></h4><br>
        <h5>1) Exhaust replaced</h5>
        <h5>2) Stripped head: found valves were worn - these replaced</h5>
        <h5>3) Also checked grommet seals and found they needed replacing</h5>
        <br>
        <center><h4>Actual time: 5.75 hours</h4></center>
        <br>
        <div class="linespace"></div>
        <h3>Parts</h3>
        <table class="table">
            <tr><th>Description</th><th>Part code</th><th>Quantity</th></tr>
            <tr><td>Exhaust pipe</td><td>S204R/20H42</td><td>1</td></tr>
            <tr><td>Valves</td><td>FW8C2/19H32</td><td>16</td></tr>
        </table>
        <br><br>
        <center><h3>Total: &pound;170.00</h3></center>
        </div>
    </div>
</div>
</body>
</html>