{% extends "nod/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

    {% block extra_js%}
        <script src="http://malsup.github.com/jquery.form.js"></script>
{#        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>#}
    {% endblock %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            {#        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>#}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                {#          Data saved successfully #}
                <li class="success">
                    {{ message }}
                </li>
            {% endif %}
            {#        Data not saved. Validation errors#}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <li class="error">
                    <i class="fi-alert"></i> {{ message }} <i class="fi-alert"></i>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <hr/>
{% endif %}
<div id="pagename">Business report<br>Stock-level</div>
<div id="main">
    <div id="view">
        <h3>Stock-level report</h3>
        <table class="table" style="padding:10px 10%; text-align:center;">
            <tr>
                <th>Part name</th>
                <th>Code</th>
                <th>Manufacturer</th>
                <th>Vehicle Model</th>
                <th>Year</th>
                <th>Price</th>
                <th>Stock level</th>
                <th>Low stock threshold</th>
                <th>Manufacturer</th>
            </tr>
            {% for part in parts %}
            <tr>
                <td>{{ part.name }}</td>
                <td>{{ part.code }}</td>
                <td>{{ part.manufacturer }}</td>
                <td>{{ part.vehicle_type }}</td>
                <td>{{ part.years }}</td>
                <td>{{ part.price }}</td>
                <td>{{ part.quantity }}</td>
                <td>{{ part.low_level_threshold }}</td>
                <td>Code</td>
                <td>Manufacturer</td>
                <td>Vehicle Model</td>
                <td>Year</td>
                <td>Price</td>
                <td>Stock level</td>
                <td>Low stock threshold</td>
            </tr>
            {% endfor %}
         </table>
    </div>
</div>
{% endblock %}