{% extends "nod/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
{% if messages %}
{#    <ul class="messages">#}
        {% for message in messages %}
            {#        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>#}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                {#          Data saved successfully #}
{#                <span class="label label-success">#}
{#                    {{ message }}#}
{#                </span>#}

                <div class="alert alert-dismissible alert-success">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ message }}
                </div>

            {% endif %}
            {#        Data not saved. Validation errors#}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
{#                <li class="error">#}
{#                    <i class="fi-alert"></i> {{ message }} <i class="fi-alert"></i>#}
{#                </li>#}

                <div class="alert alert-dismissible alert-danger">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ message }}
                </div>
            {% endif %}
        {% endfor %}
{#    </ul>#}
{#    <hr/>#}
{% endif %}

{#<div id="pagename">Customers</div>#}
<div id="main">
    <div id="job_add_form">
    {% if customer.company_name %}
        <h3>Sell Parts Order: {{ customer.company_name }} </h3>
    {% else %}
        <h3>Sell Parts Order for: {{ customer.forename }} {{ customer.surname }}</h3>
    {% endif %}
        <form action='{% url 'sell-parts' customer.uuid %}' method="post">
            {% csrf_token %}
            {% crispy form form.helper 'bootstrap3' %}

            <br/>
            <h4>Parts</h4>
            {{ part_formset.management_form|crispy }}
            {% for form in part_formset %}
                <div class="part-formset">
                 {% crispy form part_helper 'bootstrap3' %}
                <br/>
                </div>
            {% endfor %}


            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <br/>
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"></script>
<script>

    $(".part-formset").formset({
        addText: 'add part',
        deleteText: 'remove',
        prefix: '{{ part_formset.prefix }}',
        formCssClass: 'part-formset',
{#        deleteCssClass: 'part-formset'#}
    });

</script>
{% endblock %}