<html>
<head>
<title>Nodium Connections - Stock Control</title>
<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:100,200,300,400|Open+Sans:100,200,300,400|Roboto:100,200,300,400,500,1000|Lato:100,200,300,400|Tauri|Raleway|Arimo|Oswald:100,200,300,400' rel='stylesheet' type='text/css'>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/page.js"></script>
<style>
</style>
</head>
<body>
<div id="topbar">
    <div id="logo">
        <img src="img/logo.png"/>
    </div><div id="menu">
        <ul class="nav navbar-nav navbar-left">
            <li><a href="#">Home</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Stock</a></li>
            <li><a href="#">Customers</a></li>
            <li><a href="#">Users</a></li>
        </ul><ul class="nav navbar-nav navbar-right">
            <li id="search">
                <form class="navbar-form navbar-left" role="search" action="#search" method="post">
                    <select class="form-control">
                        <option value="customer">Search Customers</option>
                        <option value="jobs">Search Jobs</option>
                        <option value="vehicles">Search Vehicles</option>
                        <option value="users">Search Users</option>
                    </select>
                    <input type="text" class="form-control" placeholder="Search for...">
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </form>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Edit profile</a></li>
                <li><a href="#">Logout</a></li>
              </ul>
            </li>
          </ul>
    </div>
</div>
<div id="pagename">Stock Control</div>
<div id="main">
    <h2>All parts</h2>
    <div id="listoptions">
    <div id="create"><a class="btn btn-primary btn-block">Export as report</a></div>
        <a class="btn btn-success">Save changes</a>
        <form action="#change_view" method="post">
            <select class="form-control" name="sortoption">
                <option value="id_az">ID - Ascending (A-Z)</option>
                <option value="id_za">ID - Descending (Z-A)</option>
                <option value="make_az">Make/Model - Ascending (A-Z)</option>
                <option value="make_za">Make/Model - Descending (Z-A)</option>
                <option value="sl_az">Stock level - Ascending (A-Z)</option>
                <option value="sl_za">Stock level - Descending (Z-A)</option>
            </select>
        </form>
    </div>
    <div class="tablelist">
        <table class="table">
            <tr><th>Part code </th><th>Part name</th><th>Make/Model</th><th>Price (per item)</th><th>Stock level</th><th>Low stock warning threshold</th></tr>
            <tr>
                <td>1</td>
                <td>Manual Gearbox</td>
                <td>Honda Civic</td>
                <td><form class="listupdate" action="#update_stock_price">&pound;<input type="number" class="thin" value="249.99"/></form></td>
                <td><form class="listupdate" action="#update_stock_threshold">&pound;<input type="number" class="thin"/></form></td>
                <td><form class="listupdate" action="#update_stock">&pound;<input type="number" class="thin"/></form></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>