{% extends "nod/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load django_tables2 %}

{% block content %}
{% if messages %}
{#    <ul class="messages">#}
        {% for message in messages %}
            {#        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>#}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                {#          Data saved successfully #}
{#                <span class="label label-success">#}
{#                    {{ message }}#}
{#                </span>#}

                <div class="alert alert-dismissible alert-success">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ message }}
                </div>

            {% endif %}
            {#        Data not saved. Validation errors#}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
{#                <li class="error">#}
{#                    <i class="fi-alert"></i> {{ message }} <i class="fi-alert"></i>#}
{#                </li>#}

                <div class="alert alert-dismissible alert-danger">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ message }}
                </div>
            {% endif %}
        {% endfor %}
{#    </ul>#}
{#    <hr/>#}
{% endif %}

<div id="main">
<a href="{% url 'create-user' %}" class="btn btn-default">Create New User</a>
    <h2>Users</h2>
        {% render_table user_table %}
</div>

{#<div id="main">#}
{#    <div class="container-fluid">#}
{#    <div class="row">#}
{#        <div class="col-sm-2 vcenter"><h2>Users</h2></div>#}
{#        <div class="col-sm-2 vcenter"><a href="{% url 'create-user' %}" class="btn btn-default">Create New User</a></div>#}
{#    </div>#}
{#    </div>#}
{#        {% render_table user_table %}#}
{##}
{#</div>#}
{% endblock %}