{% extends "nod/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load django_tables2 %}
{% load filters %}

{% block content %}
{% if messages %}
{#    <ul class="messages">#}
        {% for message in messages %}
            {#        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>#}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

                <div class="alert alert-dismissible alert-success">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ message }}
                </div>

            {% endif %}
            {#        Data not saved. Validation errors#}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}

                <div class="alert alert-dismissible alert-danger">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ message }}
                </div>
            {% endif %}
        {% endfor %}
{#    </ul>#}
{#    <hr/>#}
{% endif %}

<div id="main">
<div id="view">
    <div id="customeraddress">{{ customer.address }}<br>{{ customer.postcode }}<br></div>

    <div id="garageaddress">Quick Fix Fitters,<br>19 High St.,<br>Ashford,<br>Kent<br>CT16 8YY<br><br>{{ reminder.issue_date }}</div>

        <h3>Dear Mr/Ms. {{ customer.surname }}</h3><br>
        <br><br>
        <h3><b>FINAL REMINDER - Invoice No.: {{ invoice.invoice_number }}</b></h3>
        <h5>Vehicle Registration No.: {{ vehicle.reg_num }}</h5>&emsp;<h5>Total Amount: (&pound;){{ job|grand_total }}</h5>
        <h5>Make/Model: {{ vehicle.make }}/{{ vehicle.model }}</h5>
        <br>

        <br><br>
        <pre>
            Despite two reminders, it appears that we still have not yet received payment of the above invoie, which was posted<br>
            to you on the {{ invoice.issue_date }}, for work done on the vehicle(s) listed above.<br>
            <br>Unless you pay the outstanding amount in full within SEVEN DAYS, or contact us with proposals for repayment, we<br><br>
            will have no option but to refer the matter to our solicitor.<br>
            <br>Please send payment immediately to avoid further action.<br>
            <br><br>
            <br>Yours sincerely,<br>
            <br><br>
            <br>G. Lancaster<br>
        </pre>
    </div>
</div>
{% endblock %}