{% extends "nod/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load django_tables2 %}
{% load filters %}

{% block content %}
{% if messages %}
{#    <ul class="messages">#}
        {% for message in messages %}
            {#        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>#}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                {#          Data saved successfully #}
{#                <span class="label label-success">#}
{#                    {{ message }}#}
{#                </span>#}

                <div class="alert alert-dismissible alert-success">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ message }}
                </div>

            {% endif %}
            {#        Data not saved. Validation errors#}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
{#                <li class="error">#}
{#                    <i class="fi-alert"></i> {{ message }} <i class="fi-alert"></i>#}
{#                </li>#}

                <div class="alert alert-dismissible alert-danger">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ message }}
                </div>
            {% endif %}
        {% endfor %}
{#    </ul>#}
{#    <hr/>#}
{% endif %}

<div id="main">
<a href="#" onclick="myFunction()" class="btn btn-default">Print</a>
<br><br>
<div id="view">
    <div id="invoice_rem">
    <div class="row">
        <div class="col-sm-6">
            {% if customer.company_name %}
                {{ customer.company_name }}<br>
            {% endif %}
            {{ customer.address }}<br>{{ customer.postcode }}</div>
        <div class="col-sm-6" style="text-align:right;">Quick Fix Fitters,<br>19 High St.,<br>Ashford,<br>Kent<br>CT16 8YY<br><br>{{ remind.issue_date }}</div>
    </div>

    Dear {{ customer.forename }} {{ customer.surname }},
    <br><br>
    <div id="details">
        <h3><b>SECOND REMINDER - Invoice No.: {{ invoice.invoice_number }}</b></h3>
        <h5>Total Amount: (&pound;){{ invoice|grand_total }}</h5>
    </div>
    <br>
    <br><br>
    It appears that we still have not yet received payment of the above invoice, which was posted to you on {{ invoice.issue_date }}, for parts sold, despite a reminder letter posted to you 1 month later.<br>
        <br>We would appreciate it if you would settle this invoice in full by return.<br><br>
        <br>If you have already sent a payment to us recently, please accept our apologies.<br><br>
        <br>Yours sincerely,
        <br>G. Lancaster<br>
    </div>
    </div>
</div>

<script>
    function myFunction() {
        window.print();
    }
</script>
{% endblock %}