{% extends "nod/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load django_tables2 %}
{% load filters %}

{% block content %}
{% if messages %}
{#    <ul class="messages">#}
        {% for message in messages %}
            {#        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>#}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                {#          Data saved successfully #}
{#                <span class="label label-success">#}
{#                    {{ message }}#}
{#                </span>#}

                <div class="alert alert-dismissible alert-success">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ message }}
                </div>

            {% endif %}
            {#        Data not saved. Validation errors#}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
{#                <li class="error">#}
{#                    <i class="fi-alert"></i> {{ message }} <i class="fi-alert"></i>#}
{#                </li>#}

                <div class="alert alert-dismissible alert-danger">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ message }}
                </div>
            {% endif %}
        {% endfor %}
{#    </ul>#}
{#    <hr/>#}
{% endif %}

<div id="main">
<a href="{% url 'pay-invoice' invoice.uuid %}" class="btn btn-default">Pay Invoice</a>
{#<button onclick="exportpdf('#invoice_doc')">View as PDF</button>#}
{#<a href="{% url 'print' %}" class="btn btn-default">Print</a>#}
<a href="#" class="btn btn-primary">Print</a>
{% if invoice|copy2 == True %}
    <a href="{% url 'view-invoice-reminder1' invoice.uuid %}" class="btn btn-warning">Reminder 1</a>
{% else %}
    <a href="{% url 'view-invoice-reminder1' invoice.uuid %}" class="btn btn-warning disabled">Reminder 1</a>
{% endif %}
{% if invoice|copy3 == True %}
    <a href="{% url 'view-invoice-reminder2' invoice.uuid %}" class="btn btn-warning">Reminder 2</a>
{% else %}
    <a href="{% url 'view-invoice-reminder2' invoice.uuid %}" class="btn btn-warning disabled">Reminder 2</a>
{% endif %}
{% if invoice|copy4 == True %}
    <a href="{% url 'view-invoice-reminder3' invoice.uuid %}" class="btn btn-danger">Reminder 3</a>
{% else %}
    <a href="{% url 'view-invoice-reminder3' invoice.uuid %}" class="btn btn-danger disabled">Reminder 3</a>
{% endif %}
<br><br>
{#<div id="view">#}
<div id="invoice_doc">
    <div class="row">
        <div class="col-sm-6">
            {% if customer.company_name %}
                {{ customer.company_name }}<br>
            {% endif %}
            {{ customer.address }}<br>{{ customer.postcode }}
        </div>
        <div class="col-sm-6" style="text-align:right;">Quick Fix Fitters,<br>19 High St.,<br>Ashford,<br>Kent<br>CT16 8YY<br><br>{{ invoice.issue_date }}</div>
    </div>


    <div id="garageaddress"></div>
        <br><br>
        Dear {{ customer.forename }} {{ customer.surname }},
        <br><br>
        <div id="details">
            <h3><b>Invoice No.: {{ invoice.invoice_number }}</b></h3>
        </div>
        <br>
        <br><br>
        <table style="margin:10px 15%; width:70%;" class="table">
            <tr><th>Item</th><th>Part code</th><th>Unit cost (&pound;)</th><th>Quantity</th><th>Subtotal(&pound;)</th></tr>
            {% for part in invoice|parts_sold %}
            {% with part|actual_parts_sold:order as p %}
            <tr><td>{{ part.name }}</td><td>{{ part.code }}</td><td>{{ part|unit_price }}</td><td>{{ p.quantity }}</td><td>{{ p|total_cost }}</td></tr>
            {% endwith %}
            {% endfor %}
            <tr><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td></td><td></td><td></td><td>__________</td><td></td></tr>
            <tr><td></td><td></td><td>Total</td><td></td><td>{{ order|total }}</td></tr>
            <tr><td></td><td></td><td>VAT</td><td></td><td>{{ order|vat }}</td></tr>
            <tr><td></td><td></td><td></td><td>__________</td><td></td></tr>
            <tr><td></td><td></td><td>Discount ({{ invoice|get_discount }})</td><td></td><td>-{{ invoice|get_discount_value }}</td></tr>
            <tr><td></td><td></td><td></td><td>__________</td><td></td></tr>
            <tr><td></td><td></td><td>Grand Total</td><td></td><td>{{ invoice|grand_total }}</td></tr>
        </table>

    </div>
        <br><br>
        <br>Thank you for your valued custom. We look forward to receiving your payment in due course.<br><br>Yours sincerely,<br>G. Lancaster<br>
</div>
{#    </div>#}
</div>
{% endblock %}